@import '../abstracts/variables';
@import '../abstracts/mixins';

/* Card Header Left css */

.bodyCard__header__left {
    &.d-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
}
